.container{
    display: flex;
    justify-content: center;
    /* align-items: center;
    width: 400px;
    height: 400px;
    padding-top: 10px;
    margin: 50px;
    position: relative;
    border: 2px solid; */
}
.btn1,.btn2,.btn3,.btn4{
    font-size: 1.5rem;
    transition: all 2s;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
}
.btn1:hover{
    background-color: rgb(29, 133, 147);
    color: white;
    cursor: pointer;
}
.btn2:hover{
    background-color: rgb(29, 133, 147);
    color: white;
    cursor: pointer;
}
.btn3:hover{
    background-color: rgb(29, 133, 147);
    color: white;
    cursor: pointer;
}
.btn4:hover{
    background-color: rgb(29, 133, 147);
    color: white;
    cursor: pointer;
}
img{
    width: 300px;
    /* height: 300%; */
    top: 100px;
    position: absolute;
    /* transition: all 5s ease; */
    /* transition: all 2s; */
}
.container>.btn1:hover~img{
    transition: all 4s;
    transform: rotate(360deg);
}
.container>.btn2:hover~img{
    transition: all 3s;
    transform: rotate(360deg);
}
.container>.btn3:hover~img{
    transition: 2s;
    transform: rotate(360deg);
}
.container>.btn4:hover~img{
    transition: all 1s;
    transform: rotate(360deg);
} 